:root {
    --td-theme-color: #4541fe;
    --td-theme-sec-color: #101722;
    --td-heading-color:#FFF;
    --td-theme-nblue: #001C52;
    --td-theme-orange: #FF5B15;
    --td-theme-red: #FF3838;
    --td-body-color:#101722;
    --td-common-black: #0A0E1A;
    --td-common-white: #fff;
    --td-cream-color: #FBF6EF;
    --td-cream-color-2: #FDF6F2;
    --td-grey-color: #f6f6f6;
    --td-grey-color-2: #f6f6f6;
    --td-grey-color-3: #f6f6f6;
    --td-grey-color-4: #f6f6f6;
}
