$font-url : 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap';
:root {
    --td-heading-font: "Inter", sans-serif;
    --td-body-font:  "Inter", sans-serif;
    --td-flat-font: flaticon;
}

